{% extends "base.html" %}

{% block extra_head %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>bashir ki website</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

  <!-- Hero Slider -->
  <section  class="hero">
    <div class="slide slide1"></div>
    <div class="slide slide2"></div>
    <div class="slide slide3"></div>
  </section>

  <div class="sum">
    <p>WHAT IS TECH-IT?</p>
  </div>

  <div class="summary">
    <div class="summ">
      <p>
        Tech IT isn't just a training center — it's a creation space for thinkers, builders, and bold minds ready to shape what’s next. We don’t teach you to follow the tech world; we train you to function inside it. Every program is built around doing, experimenting, breaking, fixing, and improving — because real confidence comes from real experience. Whether you're exploring Data Analytics, Cloud Infrastructure, Cyber Security, Full-Stack Development, Digital Marketing, or Software Testing — you don’t walk away with just skills, you leave with ability, clarity, and a mindset built for growth.
      </p>
    </div>
    <div class="suanop"></div>
  </div>

  <!-- Courses Section -->
  <div class="row courses">
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='images/science.jpg') }}" class="card-img-top" alt="DATA SCIENCE">
        <div class="card-body">
          <h5 class="card-title">DATA SCIENCE</h5>
          <p class="card-text">From beginner to expert — build a strong foundation and step into the world of AI, Machine Learning, and Big Data.</p>
          <a href="{{url_for('courses')}}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='images/market.jpg') }}" class="card-img-top" alt="DIGITAL MARKETING">
        <div class="card-body">
          <h5 class="card-title">DIGITAL MARKETING</h5>
          <p class="card-text">Learn the latest digital marketing strategies including SEO, SEM, social media, email campaigns, and content creation.</p>
          <a href="{{url_for('courses')}}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='images/data.jpg') }}" class="card-img-top" alt="DATA ANALYSTS">
        <div class="card-body">
          <h5 class="card-title">DATA ANALYSTS</h5>
          <p class="card-text">Become job-ready for roles like Data Analyst, Business Analyst, or Reporting Specialist.</p>
          <a href="{{url_for('courses')}}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <img src="{{ url_for('static', filename='images/cloud.jpg') }}" class="card-img-top" alt="CLOUD COMPUTING">
        <div class="card-body">
          <h5 class="card-title">CLOUD COMPUTING</h5>
          <p class="card-text">Learn to design, deploy, and manage apps on cloud platforms like AWS, Azure, and Google Cloud.</p>
          <a href="{{url_for('courses')}}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>

 <!-- Certificates -->
 <div class="slider">
    <!-- Radio buttons -->
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">

    <!-- Slides -->
    <div class="slides">
      
      <div class="sli">
        <img src="{{ url_for('static', filename='images/power.jpg') }}" alt="Slide 2">
      </div>
      <div class="sli">
        <img src="{{ url_for('static', filename='images/be10x.jpg') }}" alt="Slide 3">
      </div>
      <div class="sli">
        <img src="{{ url_for('static', filename='images/digital.jpg') }}" alt="Slide 4">
      </div>
    </div>

    <!-- Navigation buttons -->
    <div class="navigation">
      <label for="slide1" class="nav-btn" id="btn1"></label>
      <label for="slide2" class="nav-btn" id="btn2"></label>
      <label for="slide3" class="nav-btn" id="btn3"></label>
      <label for="slide4" class="nav-btn" id="btn4"></label>
    </div>

    <!-- Next/Prev buttons -->
    <div class="manual-nav">
      <div class="prev">
        <label for="slide4" class="prev-btn">‹</label>
        <label for="slide1" class="prev-btn">‹</label>
        <label for="slide2" class="prev-btn">‹</label>
        <label for="slide3" class="prev-btn">‹</label>
      </div>

      <div class="next">
        <label for="slide2" class="next-btn">›</label>
        <label for="slide3" class="next-btn">›</label>
        <label for="slide4" class="next-btn">›</label>
        <label for="slide1" class="next-btn">›</label>
      </div>
    </div>

  </div>
  
  <!-- Placement Section -->
  <div class="logo-scroller-container">
    <div class="scroller" data-direction="right">
      <div class="scroller-inner">
        <img src="{{ url_for('static', filename='images/nobroker.png') }}" alt="NoBroker">
        <img src="{{ url_for('static', filename='images/hdfc.png') }}" alt="HDFC">
        <img src="{{ url_for('static', filename='images/voltas.png') }}" alt="Voltas">
        <img src="{{ url_for('static', filename='images/easser.png') }}" alt="Essar">
        <img src="{{ url_for('static', filename='images/infosys.png') }}" alt="Infosys">
        <img src="{{ url_for('static', filename='images/accenture.jpg') }}" alt="Accenture">
        <img src="{{ url_for('static', filename='images/Deilott.jpeg') }}" alt="Deloitte">
        <img src="{{ url_for('static', filename='images/lenskart.png') }}" alt="Lenskart">
        <img src="{{ url_for('static', filename='images/adani.png') }}" alt="Adani">
        <img src="{{ url_for('static', filename='images/tcs.png') }}" alt="TCS">
        <img src="{{ url_for('static', filename='images/reliance.jpg') }}" alt="Reliance">
        <img src="{{ url_for('static', filename='images/wipro.png') }}" alt="Wipro">
      </div>
    </div>
  </div>
{% endblock %}

