{% extends "base.html" %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>bashir ki website</title>

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}
{% block content %}

  <!-- Slider Section -->
  <section id="home" class="hero">
    <div class="slide slide1"></div>
    <div class="slide slide2"></div>
    <div class="slide slide3"></div>
  </section>

  <!-- Courses Section -->
  <!-- Courses Section -->
<div class="row courses">
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card">
      <img src="{{url_for('static',filename='images/science.jpg')}}" class="card-img-top" alt="DATA SCIENCE" />
      <div class="card-body">
        <h5 class="card-title">DATA SCIENCE</h5>
        <p class="card-text">
          From beginner to expert — build a strong foundation and step into the world of AI, Machine Learning, and Big Data.
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card">
      <img src="{{url_for('static',filename='images/market.jpg')}}" class="card-img-top" alt="DIGITAL MARKETING" />
      <div class="card-body">
        <h5 class="card-title">DIGITAL MARKETING</h5>
        <p class="card-text">
          Learn the latest digital marketing strategies including SEO, SEM, social media marketing, email campaigns, and content creation.
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card">
      <img src="{{url_for('static',filename='images/data.jpg')}}" class="card-img-top" alt="DATA ANALYSTS" />
      <div class="card-body">
        <h5 class="card-title">DATA ANALYSTS</h5>
        <p class="card-text">
          This course will help you become job-ready for roles like Data Analyst, Business Analyst, or Reporting Specialist.
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card">
      <img src="{{url_for('static',filename='images/cloud.jpg')}}" class="card-img-top" alt="CLOUD COMPUTING" />
      <div class="card-body">
        <h5 class="card-title">CLOUD COMPUTING</h5>
        <p class="card-text">
          Learn how to design, deploy, and manage applications on leading cloud platforms like AWS, Microsoft Azure, and Google Cloud.
        </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>

  <!-- Certificate Carousel -->
  <!-- <div class="carousel">
  <div class="carousel__container">
    <div class="carousel__item">
      <img src="../images/power.jpg" alt="Slide 1" 
    </div>
    <div class="carousel__item">
      <img src="../images/be10x.jpg" alt="Slide 2" />
    </div>
    <div class="carousel__item">
      <img src="../images/digital.jpg" alt="Slide 3" />
    </div>
  </div>
</div>
 -->
<div class="crt row ">
  <div class="crt1 col-12 col-md-4">
     <img src="" class="img-fluid" alt="Slide 1"/>
  </div>
  <div class="crt2 col-12 col-md-4">
     <img src="{{url_for('static',filename='images/power.jpg')}}" class="img-fluid" alt="Slide 2"/>
  </div>
  <div class="crt3 col-12 col-md-4">
     <img src="" class="img-fluid" alt="Slide 3"/>
  </div>
</div>

  <!-- Placement Section -->
<div class="logo-scroller-container">

        <div class="scroller" data-direction="right">
            <div class="scroller-inner">
                    <img src="{{url_for('static',filename='images/nobroker.png')}}" alt="NoBroker">
                    <img src="{{url_for('static',filename='images/hdfc.png')}}" alt="HDB" height="50">
                    <img src="https://companieslogo.com/img/orig/VOLTAS.NS_BIG-544c7e59.png" alt="Voltas" height="50">
                    <img src="https://companieslogo.com/img/orig/ESSARSTEEL.NS_BIG-f3d2341d.png" alt="Essar" height="50">
    

                <img src="{{url_for('static',filename='images/infosys.png')}}" alt="Infosys">
                <img src="https://1000logos.net/wp-content/uploads/2016/10/Accenture-Logo-2001.png" alt="Accenture">
                <img src="https:c:\Users\Bashir\Desktop\//upload.wikimedia.org/wikipedia/commons/thumb/2/2b/DeloitteNewLogo.png/1200px-DeloitteNewLogo.png" alt="Deloitte">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-lenskart-3367576-2808794.png" alt="Lenskart">
                <img src="https://logolook.net/wp-content/uploads/2023/02/Adani-Group-Logo.png" alt="Adani">
                <img src="{{url_for('static',filename='images/tcs.png')}}" alt="TCS">
                <img src="https://companieslogo.com/img/orig/RELIANCE.NS-64973358.png" alt="Reliance">
                <img src="https://companieslogo.com/img/orig/WIPRO.NS-72354716.png" alt="Wipro">
                <img src="https://www.logotag.org/logo/HDB_Financial_Services-logo-300x120.png" alt="HDB">
                <img src="https://vectorlogoseek.com/wp-content/uploads/2019/12/voltas-vector-logo.png" alt="Voltas">
                <img src="https://seeklogo.com/images/E/essar-group-logo-04313BB01B-seeklogo.com.png" alt="Essar">
                <img src="https://companieslogo.com/img/orig/INFY.NS-c8843939.png" alt="Infosys">
                <img src="https://1000logos.net/wp-content/uploads/2016/10/Accenture-Logo-2001.png" alt="Accenture">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/DeloitteNewLogo.png/1200px-DeloitteNewLogo.png" alt="Deloitte">
                <img src="https://cdn.iconscout.com/icon/free/png-256/free-lenskart-3367576-2808794.png" alt="Lenskart">
            </div>
        </div>

        <div class="scroller">
            <div class="scroller-inner">
                <img src="https://assets.nobroker.in/nb-new/public/Common/nobroker-logo.png" alt="NoBroker">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/ICICI_Bank_Logo.svg/2560px-ICICI_Bank_Logo.svg.png" alt="ICICI Bank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/LIC_Logo_in_English.svg/1280px-LIC_Logo_in_English.svg.png" alt="LIC">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/1200px-McDonald%27s_Golden_Arches.svg.png" alt="McDonald's">
                <img src="https://1000logos.net/wp-content/uploads/2021/05/Zomato-logo.png" alt="Zomato">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/DMart_logo.svg/1280px-DMart_logo.svg.png" alt="D-Mart">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Icai_logo.svg/800px-Icai_logo.svg.png" alt="CA India">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Burger_King_logo_%282020%29.svg/2048px-Burger_King_logo_%282020%29.svg.png" alt="Burger King">
                <img src="https://assets.nobroker.in/nb-new/public/Common/nobroker-logo.png" alt="NoBroker">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/ICICI_Bank_Logo.svg/2560px-ICICI_Bank_Logo.svg.png" alt="ICICI Bank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/LIC_Logo_in_English.svg/1280px-LIC_Logo_in_English.svg.png" alt="LIC">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/1200px-McDonald%27s_Golden_Arches.svg.png" alt="McDonald's">
                <img src="https://1000logos.net/wp-content/uploads/2021/05/Zomato-logo.png" alt="Zomato">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/DMart_logo.svg/1280px-DMart_logo.svg.png" alt="D-Mart">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5e/Icai_logo.svg/800px-Icai_logo.svg.png" alt="CA India">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Burger_King_logo_%282020%29.svg/2048px-Burger_King_logo_%282020%29.svg.png" alt="Burger King">
            </div>
        </div>

    </div>

  {% endblock %}