{% extends "base.html" %}
{% block title %} Home - Tech It {% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block content %}

  <!-- Slider Section -->
  <section id="home" class="hero">
    <div class="slide slide1"></div>
    <div class="slide slide2"></div>
    <div class="slide slide3"></div>
  </section>

  
  <!-- Courses Section -->
<section id="courses" class="row courses">
  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card">
      <img src="{{url_for('static',filename='images/science.jpg')}}" class="card-img-top" alt="DATA SCIENCE" />
      <div class="card-body">
        <h5 class="card-title">DATA SCIENCE</h5>
        <p class="card-text">
          From beginner to expert — build a strong foundation and step into the world of AI, Machine Learning, and Big Data.
        </p>
        <form action="{{ url_for('handle_enroll') }}" method="POST">
            <input type="hidden" name="course_name" value="Data Science">
            <button type="submit" class="btn btn-primary">Learn More</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card">
      <img src="{{url_for('static',filename='images/market.jpg')}}" class="card-img-top" alt="DIGITAL MARKETING" />
      <div class="card-body">
        <h5 class="card-title">DIGITAL MARKETING</h5>
        <p class="card-text">
          Learn the latest digital marketing strategies including SEO, SEM, social media marketing, email campaigns, and content creation.
        </p>
        <form action="{{ url_for('handle_enroll') }}" method="POST">
            <input type="hidden" name="course_name" value="Digital Marketing">
            <button type="submit" class="btn btn-primary">Learn More</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card">
      <img src="{{url_for('static',filename='images/data.jpg')}}" class="card-img-top" alt="DATA ANALYSTS" />
      <div class="card-body">
        <h5 class="card-title">DATA ANALYSTS</h5>
        <p class="card-text">
          This course will help you become job-ready for roles like Data Analyst, Business Analyst, or Reporting Specialist.
        </p>
       <form action="{{ url_for('handle_enroll') }}" method="POST">
            <input type="hidden" name="course_name" value="Data Analyst">
            <button type="submit" class="btn btn-primary">Learn More</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-3 mb-4">
    <div class="card">
      <img src="{{url_for('static',filename='images/cloud.jpg')}}" class="card-img-top" alt="CLOUD COMPUTING" />
      <div class="card-body">
        <h5 class="card-title">CLOUD COMPUTING</h5>
        <p class="card-text">
          Learn how to design, deploy, and manage applications on leading cloud platforms like AWS, Microsoft Azure, and Google Cloud.
        </p>
        <form action="{{ url_for('handle_enroll') }}" method="POST">
            <input type="hidden" name="course_name" value="Cloud Computing">
            <button type="submit" class="btn btn-primary">Learn More</button>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="slider">
    <input type="radio" name="slide" id="slide1" checked>
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3">
<div class="slides">
      
      <div class="sli">
        <img src="{{ url_for('static', filename='images/power.jpg') }}" alt="Slide 1">
      </div>
      <div class="sli">
        <img src="{{ url_for('static', filename='images/be10x.jpg') }}" alt="Slide 2">
      </div>
      <div class="sli">
        <img src="{{ url_for('static', filename='images/digital.jpg') }}" alt="Slide 3">
      </div>
    </div>

    <!-- Navigation buttons -->
    <div class="navigation">
      <label for="slide1" class="nav-btn" id="btn1"></label>
      <label for="slide2" class="nav-btn" id="btn2"></label>
      <label for="slide3" class="nav-btn" id="btn3"></label>
      <label for="slide4" class="nav-btn" id="btn4"></label>
    </div>

    <!-- Next/Prev buttons -->
    <div class="manual-nav">
      <div class="prev">
        <label for="slide4" class="prev-btn">‹</label>
        <label for="slide1" class="prev-btn">‹</label>
        <label for="slide2" class="prev-btn">‹</label>
        <label for="slide3" class="prev-btn">‹</label>
      </div>

      <div class="next">
        <label for="slide2" class="next-btn">›</label>
        <label for="slide3" class="next-btn">›</label>
        <label for="slide4" class="next-btn">›</label>
        <label for="slide1" class="next-btn">›</label>
      </div>
    </div>

  </div>
  <!-- Placement Section -->
<!-- <div class="logo-scroller-container">

        <div class="scroller" data-direction="right">
            <div class="scroller-inner">
                    <img src="{{url_for('static',filename='images/nobroker.png')}}" alt="NoBroker">
                    <img src="{{url_for('static',filename='images/hdfc.png')}}" alt="HDB" height="50">
                    <img src="{{url_for('static',filename='images/voltas.png')}}" alt="Voltas" height="50">
                    <img src="{{url_for('static',filename='images/easser.png')}}" alt="Essar" height="50">
                    <img src="{{url_for('static',filename='images/infosys.png')}}" alt="Infosys">
                    <img src="{{url_for('static',filename='images/accenture.jpg')}}" alt="Accenture">
                    <img src="{{url_for('static',filename='images/Deilott.jpeg')}}" alt="Deloitte">      
                    <img src="{{url_for('static',filename='images/adani.png')}}" alt="Adani">
                    <img src="{{url_for('static',filename='images/tcs.png')}}" alt="TCS">
                    <img src="{{url_for('static',filename='images/reliance.jpg')}}" alt="Reliance">                
                    <img src="{{url_for('static',filename='images/lenskart.png')}}" alt="Lenskart">
            </div>
        </div>

        <div class="scroller">
            <div class="scroller-inner">
                
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/ICICI_Bank_Logo.svg/2560px-ICICI_Bank_Logo.svg.png" alt="ICICI Bank">
                <img src="{{url_for('static',filename='images/Lic.jpeg')}}" alt="LIC"> 
                <img src="{{url_for('static',filename='images/zomato.jpeg')}}" alt="Zomato">
                <img src="{{url_for('static',filename='images/dmart.jpeg')}}" alt="D-Mart">
                <img src="{{url_for('static',filename='images/CA.jpeg')}}" alt="CA India">
                <img src="{{url_for('static',filename='images/burger.jpeg')}}" alt="Burger King">               
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/1200px-McDonald%27s_Golden_Arches.svg.png" alt="McDonald's">
                             
            </div>
        </div>

    </div> -->
    <div class="logo-scroller-container">

    <div class="scroller" data-direction="right">
        <div class="scroller-inner">
            <img src="{{url_for('static',filename='images/nobroker.png')}}" alt="NoBroker">
            <img src="{{url_for('static',filename='images/hdfc.png')}}" alt="HDB" height="50">
            <img src="{{url_for('static',filename='images/voltas.png')}}" alt="Voltas" height="50">
            <img src="{{url_for('static',filename='images/easser.png')}}" alt="Essar" height="50">
            <img src="{{url_for('static',filename='images/infosys.png')}}" alt="Infosys">
            <img src="{{url_for('static',filename='images/accenture.jpg')}}" alt="Accenture">
            <img src="{{url_for('static',filename='images/Deilott.jpeg')}}" alt="Deloitte">
            <img src="{{url_for('static',filename='images/adani.png')}}" alt="Adani">
            <img src="{{url_for('static',filename='images/tcs.png')}}" alt="TCS">
            <img src="{{url_for('static',filename='images/reliance.jpg')}}" alt="Reliance">
            <img src="{{url_for('static',filename='images/lenskart.png')}}" alt="Lenskart">

            <img src="{{url_for('static',filename='images/nobroker.png')}}" alt="NoBroker">
            <img src="{{url_for('static',filename='images/hdfc.png')}}" alt="HDB" height="50">
            <img src="{{url_for('static',filename='images/voltas.png')}}" alt="Voltas" height="50">
            <img src="{{url_for('static',filename='images/easser.png')}}" alt="Essar" height="50">
            <img src="{{url_for('static',filename='images/infosys.png')}}" alt="Infosys">
            <img src="{{url_for('static',filename='images/accenture.jpg')}}" alt="Accenture">
            <img src="{{url_for('static',filename='images/Deilott.jpeg')}}" alt="Deloitte">
            <img src="{{url_for('static',filename='images/adani.png')}}" alt="Adani">
            <img src="{{url_for('static',filename='images/tcs.png')}}" alt="TCS">
            <img src="{{url_for('static',filename='images/reliance.jpg')}}" alt="Reliance">
            <img src="{{url_for('static',filename='images/lenskart.png')}}" alt="Lenskart">
        </div>
    </div>

    <div class="scroller">
        <div class="scroller-inner">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/ICICI_Bank_Logo.svg/2560px-ICICI_Bank_Logo.svg.png" alt="ICICI Bank">
            <img src="{{url_for('static',filename='images/Lic.jpeg')}}" alt="LIC">
            <img src="{{url_for('static',filename='images/zomato.jpeg')}}" alt="Zomato">
            <img src="{{url_for('static',filename='images/dmart.jpeg')}}" alt="D-Mart">
            <img src="{{url_for('static',filename='images/CA.jpeg')}}" alt="CA India">
            <img src="{{url_for('static',filename='images/burger.jpeg')}}" alt="Burger King">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/1200px-McDonald%27s_Golden_Arches.svg.png" alt="McDonald's">
            
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/ICICI_Bank_Logo.svg/2560px-ICICI_Bank_Logo.svg.png" alt="ICICI Bank">
            <img src="{{url_for('static',filename='images/Lic.jpeg')}}" alt="LIC">
            <img src="{{url_for('static',filename='images/zomato.jpeg')}}" alt="Zomato">
            <img src="{{url_for('static',filename='images/dmart.jpeg')}}" alt="D-Mart">
            <img src="{{url_for('static',filename='images/CA.jpeg')}}" alt="CA India">
            <img src="{{url_for('static',filename='images/burger.jpeg')}}" alt="Burger King">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/McDonald%27s_Golden_Arches.svg/1200px-McDonald%27s_Golden_Arches.svg.png" alt="McDonald's">
        </div>
    </div>

</div>

  {% endblock %}