{% extends "auth_base.html" %}
{% block title %} Signup - Tech It {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}

        <div class="login-container">
          <div class="login-box">
            <img src="{{ url_for('static',filename='images/logo.jpg')}}" alt="Tech IT Logo" class="logo" />

        <form action="{{ url_for('handle_signup') }}" method="POST"
            <div class="input-box">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="First Name" required name="First_name" value="{{ request.form.get('First_name')or ''}}"/>
            </div>

            <div class="input-box">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Last Name" required name="Last_name" value="{{ request.form.get('Last_name')or ''}}"/>
            </div>

            <div class="input-box">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="Phone No" 
              pattern="[6-9]{1}[0-9]{9}" maxlength="10" required  name="Number" value="{{ request.form.get('Number')or ''}}"/>
            </div>


            <div class="input-box">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="E-mail" required name="Email" value="{{ request.form.get('Email')or ''}}" />
            </div>

            <div class="input-box">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="Create Password" required name="password" />
            </div>

             <div class="input-box">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="Confirm Password" required name="confirm_password"/>
            </div>

          <div class="remember-me">
            <input type="checkbox" id="remember">
            <label for="remember">remember-me</label>
          </div>

            <button class="btn">Sign-Up</button>

            <p class="signup-text">
              Already have an account  <a href="/login">Login</a>
            </p>
          </div>
        </div>
    </form>
{% endblock %}